*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: sans-serif;
    font-size: 14px; 
}

body{
    width: 100%;
    min-height: 100vh;
    background-color: rgb(243, 243, 243);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content:center;
}

.instragram-wraper{
    display: flex;
    align-items: center;
    justify-content: start;
    width: 60%;
    height: 100vh;

}

.instagram-phone{
    display: flex;
    align-items: center;
    justify-content: start;
    width: 50%;
}

.instagram-phone img{
    height:70rem;
}

.instagram-continue {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    width: 50%;
    min-height: 34rem;
}

.instagram-continue img {
    width: 30rem;
}

.group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    background-color: #ffffff;
    width: 100%;
    padding: 1.3rem;
    border: 3px solid lightgray;
}

.group:nth-child(1){
    min-height:19rem;
    margin-bottom: 30px;
}

.instagran-logo  {
    height: 7rem;
    padding-bottom: 5px;
    border-radius: 25px;
    margin-bottom: 25px;
}

.profile-photo{
    display: flex;
    justify-content: center;
    aling-itens:center;
    border-radius: 50%;
    overflow: hidden;
    margin-bottom: 30px;
 }

 .profile-photo img{
    height: 20rem;
    width: 20rem;
}

.instagram-login {
    background-color: lightseagreen;
    color: #ffffff;
    padding: 7px;
    border-radius: 4px;
    margin-bottom: 5px;
}

.instagram-logout {
    color: maroon;
    font-weight: bold;
}

.not-account {
    color: rgb(160, 160, 160);
}

.link-blue {
    color: #0095f6;
}

.get-the-app {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 2rem 0;
}